ul{
    list-style: none;
}

.woocommerce-loop-category__title{
    font-size: 10px !important;
}
.count{
    background: #fff !important;
    text-decoration: none;

}

.cart{
    display: flex; 

}

/*  */